html {
    font-size: 10px;
    background: url("./Image/rocco-caruso-h4jXGhm8wuA-unsplash.jpg") bottom center ;
    overflow: hidden;
    /* user-select: none; */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-left: rgb(255, 0, 0);

}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'sans';
}


h1 {
  font-size:50px;
  color: rgb(10, 1, 1);
  text-align: center;
}


span{
    font-weight: 900;
    /* margin-top: -500px !important; */
}

.A {
  background-image: url("image/tom1.png");
  overflow: hidden;
  user-select: none;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.S{
  background-image: url("image/tom2.png");
  overflow: hidden;
  user-select: none;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  
}

.D {
  background-image: url("image/tom1.png");
    overflow: hidden;
    user-select: none;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
}

.F{
  background-image: url("image/crash.png");
  overflow: hidden;
  user-select: none;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.G {
  background-image: url("image/images.jfif");
  overflow: hidden;
  user-select: none;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.H {
  background-image: url("image/crash.png");
  overflow: hidden;
  user-select: none;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.J  {
  background-image: url("image/snare.png");
  overflow: hidden;
  user-select: none;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.K {
  background-image: url("image/tomm5.jfif");
  overflow: hidden;
  user-select: none;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.L  {
  background-image: url("image/piano.jfif");
  overflow: hidden;
  user-select: none;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}


.keys {
    display: flex;
    flex-direction: row;
    flex:1;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.key {
  border: 5px solid black;
  padding:1rem 0.5rem;
  transition: all 0.1s ease;
  /* line-height: 1.5; */
  font-weight: 900;
  /* color: yellow !important; */
  /* text-shadow: 3px 0 #E04DB0; */
   border-radius: 10px;
   display: inline-block;
   width: 125px;
   margin: 15px;
   padding-bottom: 30px;
   background-color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}



kbd {
    display: block;
    font-size: 4.3rem;   
    color: #66ffff;
    cursor: pointer;

}

.sound {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #666699;
}


.playing {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 2rem yellow;
}


footer {
    text-align: center;
    color: white;
   font-size: 1.5rem;   
}

footer p a{
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
color: yellow;
}

